# comentário.
.idea/
.vscode/

# comentário.
node_modules/
package-lock.json


# comentário.
.build/
.expo/
web-build/
web-report/

# comentário.
npm-debug.*
*.iml
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
